*{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100%;
    width: 100%;
    background-color: #001e4d;
    background-size: cover;
    position: absolute;
    text-align: center;
}

.form-box{
    width: 380px;
    height: 430px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}

.input-group{
    top: 120px;
    position: absolute;
    width: 270px;
}

.input-field{
    width: 100%;
    padding: 10px 2px;
    margin: 8px 50px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-left: 70px;
    margin-top: 50px;
    border: 0;
    background-color: #2579ba;
    outline: none;
    border-radius: 30px;
}

.sign{
    width: 85%;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: -30px;
    color: #777

}
.check-box{
    margin: 10px 10px 0px -120px;
}

.tick-box{
    margin: 10px 10px 65px -120px;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 100px;
    position: absolute;
}

.register-btn{
    width: 85%;
    padding: 10px 50px;
    cursor: pointer;
    display: block;
    margin-left: 70px;
    border: 0;
    background-color: #2579ba;
    outline: none;
    border-radius: 30px;
}
